/* universel css */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    color: #090909;
   
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}


img{
    max-width: 100%;
}

/* header area css */

.header-area{
    display: flex;
    justify-content: space-between;
}

.header-area ul{
    list-style: none;
}

.header-area ul li{
    display: inline-block;
}

.header-area ul li a{
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.header-area ul li a:hover{
    color: #000;
    transition: .3s;
}

#header-king{
    background-image: linear-gradient(#FFF4EE , #FE4A2F);
}

/* header css end */

/* banner section css */

.banner-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

#color{
    color: #FB8C49;
}

.order-link{
    padding: 12px 40px;
    background-image: linear-gradient(#FD4E30 , #FB8946);
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500px;
    border-radius: 30px;
}

.order-link:hover{
    color: #000;
    transition: .4s;
}

.banner-btn{
    margin-top: 35px;
}

.banner-text h1{
    font-size: 50px;
}
.banner-text{
    width: 50%;
    padding: 0 15px;
}

.banner-image{
    width: 50%;
    padding-left: 15px;
    
}

#banner-section{
    padding: 100px 0;
}

/* banner css end */

/* abut css start */

.about-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image{
    width: 50%;
    padding-right: 15px;  
}

.about-me-text{
    width: 50%;
    padding: 0 15px;
}

#about-section{
    padding: 100px 0;
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.about-me-text h2{
    font-size: 38px;
    color: brown;
}

.about-button{
    margin-top: 60px;
}

/* recipies css */

.recipies-items-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-box{
    width: 33.333%;
    box-shadow: 10px 10px 10px 0 ;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.one{
    margin-right: 15px;
}

.two{
    margin: 0 15px;
}

.three{
    margin-left: 15px;
}

.image-box{
    border-radius: 10px;
}

.image-box img{
    border-radius: 10px;
}

.recipie-heading h2{
    font-size: 38px;
    text-align: center;
}

.recipie-heading p{
    text-align: center;
}


.recipie-heading{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#recipies-section{
    padding: 100px 0;
    background-color: #FB8946;
    opacity: 1;
}

/* numbrer css */

.number-items-box{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 15px 0;
    background-color: #fff;
    padding: 30px 0;
}

.number-item{
    width: 33.33%;
    text-align: center;
}

#number-section{
    padding: 100px 0;

}

/* footer */

.footer-text{
    text-align: center;
}

.footer-text h2{
    font-size: 38px;
    margin-bottom: 30px;
    color: #fff;
}

.footer-text p{
    color: #fff;
}

.footer-color{
    color: #FE4A2F;
}

#footer-section{
    background-color: #0B0E17;
    padding: 100px 0;
}